@model OnlineEducation.Models.Account
@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Areas/HelpOnline/Views/Shared/_Layout.cshtml";
    var detailsLink = "Details?id=" + Model.Email;
}

<h4>Changed Password Successfuly</h4>
<h4><a href="@detailsLink"> Back to Account details</a></h4>

