
@{
    ViewBag.Title = "CreateAccountSuccess";
    Layout = "~/Areas/HelpOnline/Views/Shared/_Layout.cshtml";
}

<h4>Create new account Successfuly</h4>
<h4><a href="Details"> Back to Account details</a></h4>

