
@{
    ViewBag.Title = "ResetPasswordSuccess";
    Layout = "~/Areas/HelpOnline/Views/Shared/_Layout.cshtml";
}

<h5>@ViewBag.Message</h5>
<p> Please check your email to  @Html.ActionLink("Login", "Login") </p>

