
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row mainPage">
        <div class="col-sm-12">
            <div class="row buttonRow row-eq-height">
                <div class="col-sm-5 buttonTopic">
                    <div class="row">
                        <a href="../HelpOnline/Level1/Index"><img src="~/images/icons/Online Help Image.png" alt="Help Online" width="100" height="auto" /> </a> 
                    </div>
                    <div class="row description">
                        <p>
                            Designed by workshop owners for workshop owners AM-Win software offers everything you'll ever need to run your workshop.
                            Complete workshop management with job and vehicle tracking for ever, powerful parts management, supplier and debtors management and accounting through to BAS statement.
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 buttonTopic">
                    <div class="row">
                        <asp:Button ID="VideoButton" ToolTip="Videos" runat="server" Text="Videos" class="btn btn-outline-primary" OnClick="VideoButton_Click" />
                    </div>
                    <div class="row description">
                        <p>
                            You will be asked by your supporting consultant to download or run a program called Team Viewer so that we can view your computer from our remote terminal
                        </p>
                    </div>
                </div>
            </div>
            <div class="row buttonRow row-eq-height">
                <div class="col-sm-5 buttonTopic">
                    <div class="row">
                        <asp:Button ID="Button2" ToolTip="Find the answers to your questions" runat="server" Text="FAQs" class="btn btn-outline-primary" OnClick="FAQButton3_Click" />
                    </div>
                    <div class="row description">
                        <p>
                            Find the answers to your questions.
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 buttonTopic">
                    <div class="row">
                        <asp:Button ID="Button3" ToolTip="Contact US" runat="server" Text="Contact US" class="btn btn-outline-primary" OnClick="Button4_Click" />
                    </div>
                    <div class="row description">
                        <p>
                            Designed by workshop owners for workshop owners AM-Win software offers everything you'll ever need to run your workshop.
                            Complete workshop management with job and vehicle tracking for ever, powerful parts management, supplier and debtors management and accounting through to BAS statement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

